* {
            margin: 0;
            padding: 0;
        }

        header {
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
            height: 40px;
            background-color: rgb(4, 4, 97);
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-shadow: 2px 5px 5px rgb(245, 21, 125);
        }

        h2 {
            color: rgb(243, 243, 226);
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h2:hover {
            color: rgb(255, 238, 2);

        }
         /* search bar */
        .sbar input {
            background: transparent;
            flex: 1;
            /*flex grow for extending input box*/
            border: 0;
            /*to remove input border*/
            outline: none;
            /* to remove border when cursor is on input line*/
            padding: 10px 10px;
            /*input length can be changed*/
            font-size: 14px;
            color: rgb(88, 12, 160);
        }

        /* to change placeholder text color */
        ::placeholder {
            color: rgb(15, 15, 15);
        }

        .sbar button {
            border: 0;
            padding-top: 5px;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
        }

        .sbar {
            top: 1vh;
            left: 30vw;
            height: 24px;
            width: 300px;
            border: 1px solid rgb(5, 160, 39);
            border-radius: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 12px;
            background-color: wheat;
            /* if background image given , we can use backdrop-filter: blur(5px), saturate(50%);  
            to blur the background in search bar and --background color should be transparent*/

        }

        #searchimg {
            height: 13px;
            width: 13px;
        }
        /* navigation link */
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        a {
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(247, 247, 250);
            padding: 10px;
            font-size: 15px;
            text-decoration: none;
            text-shadow: none;
        }

        a:hover {
            background-color: rgb(99, 192, 7);

        }

        .container {
            background-color: rgb(236, 115, 206);
            display: flex;
            justify-content: center;
        }

        .img1 {
            height: 72vh;
            width: 35vw;
            margin: 11px;
            margin-top: 15px;
            border: 1px solid pink;
            border-radius: 10px;
        }

        .watchsmall {
            padding-left: 10px;
            margin-bottom: -2px;
            padding-bottom: 12px;
        }

        .content {
            margin: 15px;
            height: 553px;
            width: 380px;
            border: 1px solid rgb(187, 186, 186);
            border-radius: 5px;
            box-shadow: 5px 5px 7px rgb(179, 17, 211);
            background-color: rgb(211, 208, 210);
            color: black;
            padding: 10px;
        }

        h1 {
            margin: 7px;
            font-size: 25px;
            color: rgb(150, 2, 155);
            text-align: center;
        }

        span {
            color: gray;
            text-decoration: line-through;
        }

        .price {
            padding-top: 10px;
            font-weight: bold;
        }

        .rr {
            padding-top: 10PX;
            font-weight: 900;

        }

        .review {
            text-align: justify;
            padding-top: 10PX;
            line-height: 20px;
            font-style: oblique;
        }

        .star {
            height: 100px;
            margin: -25px;
            padding-left: 27px;
        }

        .minus,
        .plus {
            background-color: rgb(109, 102, 102);
            color: white;
            margin: 5px;
            font-size: 20px;
            width: 30px;
            height: 25px;
        }

        .input {
            width: 30px;
            height: 25px;
            padding-bottom: -20px;
            text-align: center;

        }

        .button {
            display: flex;
            align-items: center;

        }

        .buy {
            margin-top: 20px;
            width: 98%;
            height: 30px;
            text-align: center;
            background-color: rgb(62, 5, 88);
            color: white;
            margin: 4px;
            margin-top: 20px;
            border-radius: 5px;
        }

        .buy:hover {
            background-color: rgb(227, 243, 9);
            color: black;
        }

        h4 {
            margin-top: -7px;
        }

        .time {
            margin: 20px;
            margin-left: 8px;
            margin-top: 25px;
            padding: 18px;

            height: 140px;
            width: 85%;
            text-align: center;
            border: 1px solid grey;
            background-color: rgb(111, 177, 197);
            font-size: larger;
            color: rgb(201, 4, 4);
            line-height: 25px;
            border: 1px solid grey;
            border-radius: 5px;
            display: block;
            justify-content: center;
        }

        .sign {
            margin: 10px;
            padding: 5px;

        }

        .sign:hover {
            background-color: chartreuse;
            color: black;

        }

        .offer {
            color: black;
            line-height: 1.5;
        }


        .img2 {
            margin: 2px 12px;
            height: 70px;
            /* width:79px;*/
            width: 17%;
            border-top: 10px solid rgb(56, 56, 61);
            border-bottom: 10px solid rgb(56, 56, 61);
        }

        .img3 {

            margin: 2px 12px;
            height: 90px;
            /*  width:70px;*/
            width: 17%;
            border-left: 10px solid rgb(56, 56, 61);
            border-right: 10px solid rgb(56, 56, 61);
        }

        .img4 {
            margin: 2px 12px;
            height: 90px;
            /* width:70px;*/
            width: 17%;
            border-left: 10px solid rgb(56, 56, 61);
            border-right: 10px solid rgb(56, 56, 61);
        }

        .img5 {
            margin: 2px 12px;
            height: 70px;
            /*  width:79px;*/
            width: 17%;
            border-top: 10px solid rgb(56, 56, 61);
            border-bottom: 10px solid rgb(56, 56, 61);
        }

        .menu {
            display: none;
            position: absolute;

            right: 10px;
            top: 20px;
        }

        .line {
            height: 4px;
            width: 20px;
            background-color: azure;
            margin-top: 2px;
            transform: translateY(-10px);
        }

        /* media Query for responsive images */

        @media screen and (min-width:380px) and (max-width:900px) {
            .img1 {

                padding: 10px;
                height: 75vh;
                width: 90%;
                margin: auto;

            }
        }

        @media screen and (min-width:480px) and (max-width:900px) {

            .img2,
            .img5 {

                padding: 1px;
                height: 8vh;
                width: 18%;
                margin: 2px;
                border-bottom: 3px solid black;
                border-top: 3px solid black;


            }
        }

        @media screen and (min-width:480px) and (max-width:900px) {

            .img3,
            .img4 {

                padding: 1px;
                height: 9vh;
                width: 20%;
                margin: 2px;
                border-left: 3px solid black;
                border-right: 3px solid black;


            }
        }

        /* search bar */
        @media screen and (min-width:480px) and (max-width:950px) {
            .sbar {
                display: none;
            }
        }

        /* content */
        @media screen and (min-width:480px) and (max-width:900px) {
            .time {
                margin: 5px;
                padding: 10px;
                height: 20vh;
                width: 85%;
                font-size: 15px;
            }

            .sign {
                height: 20px;
                width: auto;
                font-size: inherit;
                top: -12px;
                line-height: 0px;
            }
        }

        @media screen and (min-width:480px) and (max-width:700px) {
            .content {
                width: 50vw;
            }

            .time {
                margin: 5px;
                height: auto;
                width: auto;
            }

            .offer {
                font-size: 6px;
            }
        }

        @media screen and (min-width:700px) and (max-width:900px) {
            .content {
                width: 50vw;
            }

            .time {
                margin: 3px;
                font-size: auto;
                height: auto;
                width: auto;
            }
        }

        h4 {

            font-size: auto;
        }


        @media screen and (min-width:480px) and (max-width:950px) {
            .offer {


                font-size: .6em;

            }

            h1 {
                font-size: 1.2em;
            }

            h4 {
                font-size: .85em;
            }

            .content {
                height: 84vh;
            }

            .price {
                font-size: .7em;
            }

            .review {
                font-size: .8em;
            }
        }

        @media screen and (min-width:650px) and (max-width:900px) {
            .offer {


                font-size: 1.1em;

            }

            h4 {
                font-size: 1.2em;
            }

            .time {
                margin: 25px;
            }
        }

        @media screen and (min-width:590px) and (max-width:900px) {
            .offer {
                font-size: 1em;
            }

            h4 {
                font-size: 1em;
            }

            .review {
                font-size: .8em;
            }
        }

        .sign {

            font-size: 9px;
        }

        @media screen and (min-width:1117px) and (max-width:1300px) {

            .img2,
            .img3,
            .img4,
            .img5 {

                margin: 2px 8px;

            }
        }

        @media screen and (min-width:900px) and (max-width:1116px) {

            .img2,
            .img3,
            .img4,
            .img5 {

                margin: 2px 4px;

            }
        }

        @media screen and (min-width:300px) and (max-width:900px) {

            .img2,
            .img3,
            .img4,
            .img5 {

                margin: 2px 2px;

            }
        }

        @media(max-width:500px) {
            .review {
                font-size: 12px;
                line-height: 1.5;

            }
        }

        /* navigation bar */

        @media(max-width:600px) {
            ul {
                display: block;
                align-content: space-around;
                position: absolute;
                width: 28%;
                height: 35vh;
                background-color: blue;
                top: 30px;
                right: 10px;
                text-align: left;
                border-radius: 5px;
            }

            .menu {
                display: block;
            }

            li {
                padding: 10px;
            }

            .a:hover {
                color: yellow;
                font-size: larger;
                background-color: transparent;

            }
        }